$color-affair: #794ca1;
$color-tiber: #052533;
$color-puerto-rico: #41bfba;
$color-tundora: #4a4a4a;
$color-white: #FFFFFF;

$grey-light: #9b9b9b;
$grey-lightest: #eee;

$color-primary: $color-affair;
$color-secondary: $color-puerto-rico;

$color-link: $color-primary;

$box-shadow: 0 0px 3px 0px rgba(0, 0, 0, 0.2), 0 5px 5px -3px rgba(0, 0, 0, 0.39);
